Repository marcusviniciusfa/pilgrim-challenge-financial-report: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run test, npm run compile, npm run lint

.lintstagedrc.json:

{
  "*.{spec.ts, test.ts}": ["npm run test"],
  "./src/**/.ts": ["npm run compile"],
  "*.ts": ["npm run lint"]
}

style: main branch fix
  .lintstagedrc.json
Due: none

style: add cover image
  README.md
  docs/images/jorge-luis-ojeda-flota-FqtgyYgBLyQ-unsplash.jpg
Due: none

test: add database tests
  .editorconfig
  .eslintrc.json
  .lintstagedrc.json
  globalConfig.json
  jest-mongodb-config.js
  jest.config.js
  package.json
  src/models/dbConnection.ts
  src/models/schemas/Product.ts
  tests/dbConnection.spec.ts
  tsconfig.build.json
  tsconfig.json
Due: npm run test, npm run lint

feat: add product controller
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  globalConfig.json
  jest-mongodb-config.js
  package.json
  src/controllers/productController.ts
  src/models/IProduct.ts
  src/models/dbConnection.ts
  src/models/schemas/Product.ts
  src/models/schemas/productEntitie.ts
  src/routes/routes.ts
  src/utils/moment.ts
  tests/dbConnection.spec.ts
  tests/routes.spec.ts
  tsconfig.json
Due: npm run test, npm run lint

feat: add report controller and other routes for product controller
  .env
  .eslintrc.json
  .example.env
  .gitignore
  .vscode/launch.json
  README.md
  globalConfig.json
  package.json
  src/controllers/productController.ts
  src/controllers/reportController.ts
  src/models/schemas/productEntitie.ts
  src/routes/routes.ts
Due: npm run lint

refactor: adjust reporting controller code
  README.md
  src/controllers/reportController.ts
  src/routes/routes.ts
Due: npm run lint

refactor: adjust pdf file formatting in report controller
  src/controllers/reportController.ts
Due: npm run lint

refactor: adjust pdf file formatting and style
  .eslintrc.json
  .vscode/launch.json
  globalConfig.json
  src/controllers/reportController.ts
Due: npm run lint

feat: add reporting by distributors
  src/controllers/reportController.ts
  src/utils/reportDistributorsGenerate.ts
  src/utils/reportProductsGenerate.ts
  tsconfig.json
Due: npm run lint

docs: ajusts in diagrams c4 model
  .eslintrc.json
  docs/images/structurizr-FinancialReport-APIApplication-Component.png
  docs/workspace.dsl
  package.json
  src/controllers/productController.ts
  src/utils/moment.ts
Due: npm run lint

docs: add api documentation
  .eslintrc.json
  .vscode/settings.json
  README.md
  docs/swagger.json
  package.json
  src/controllers/productController.ts
  src/controllers/reportController.ts
  src/models/schemas/productEntitie.ts
  src/routes/routes.ts
  tsconfig.json
Due: npm run lint

docs: add new name in personal study references
  README.md
Due: none

docs: add summary in readme
  README.md
Due: none

docs: corrects portuguese errors
  README.md
Due: none
